body {
    background-color: rgb(19, 24, 41) 
}

h1 {text-align: center;}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p {text-align: center;}

#options {
    display: flex;
    justify-content: space-around;
}

#pic {
    width: 500px;
    height: 400px;
    border-radius: 8px;
}